/* Text styles */
.hero-task{
    color: rgba(151, 79, 208, 1);
}

.hero-manage{
    color: rgba(41, 41, 41, 1);
}

.hero-context{
    width: 470px;
    height: 124px;
    left: 170px;
    top: 174px;
    font-weight: 500;
    line-height: 62px;
    font-size: 62px;
}

.hero-text{
    margin-top: 2rem;
    width: 535px;
    height: 170px;
    top: 319px;
    left: 170px;
    color: #737171;
    line-height: 30px;
    font-size: 24px;
    font-weight: 400;
}

.hero-image{
    width: 419px;
    height: 397px;
    top: 158px;
    left: 834px;
    /* box-shadow: 0 0 60px rgba(0, 0, 0, 1); */
    background-image: url('../assets/hero.svg');
    animation: fade 15s infinite;
}

.hero-button{
    background-color: #974FD0;
    width: 201px;
    height: 50px;
    left: 172px;
    top: 493px;
}

@keyframes fade {
    40%{
        background-image: url('../assets/Frame\ 2.svg');
    }
    80%{
        background-image: url('../assets/Frame\ 3.svg');
    }
}